<div class="app">
  <div class="title quiz-questions">
    <h4>Quiz Questions</h4>
  </div>

  <div class="sing-button" *ngIf="auth.user$ | async as user; else login">
    <span style="margin-right: 30px;">
      <a routerLink="/questions">Questions</a>
    </span>

    <button class="button" (click)="auth.signOut()">Sign Out</button>
  </div>

  <ng-template #login>
    <div class="sing-button">
      <button class="button" (click)="auth.googleSignin()">Login with Google</button>
    </div>
  </ng-template>
</div>


<router-outlet></router-outlet>
