.app {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
  flex-flow: row; position: absolute;
  top: 0; left: 0; margin-bottom: 50px;
  justify-content: space-between
}

.quiz-questions{
  display: flex;
  justify-self: flex-start;
  margin-left: 5px
}

.sing-button{
  display: flex;
  justify-self: flex-end;
  margin-right: 5px;
  align-items: center
}

